section, .container, .row {
    padding-top:1em;
    padding-bottom:1em;
}
section {
    border-bottom:1px solid #ccc;
}
section, .jumbotron {
    border-top:53px solid transparent;
    margin-top:-53px;
}
section#lsst {
    border-top:53px solid #fff;
    margin-top:-53px;
}
.img-nav {
    position:fixed;
    top:2px;
    left:6px;
    height:50px;
    z-index:10000;
}
#about {
    margin-top:-3em;
}
.center {
    text-align:center;
    margin:auto;
}
.logo, .logo-agency {
    max-width:4em;
    padding:0.3em;
}
.jumbotron, #lsst {
    min-height:15rem;
    background-repeat:no-repeat;
    -webkit-background-size:cover!important;
    -moz-background-size:cover!important;
    background-size:cover!important;
    background-position:center center;
    color:#ffffff!important;
    text-shadow:#000 0px 0px 1px, #000 0px 0px 5px;
}
.jumbotron {
    margin-bottom:0;
    border-radius:0;
    background-image:url('../img/jumbotron.jpg');
    text-align:center;
}
#lsst {
    background-image:url('../img/lsst2.jpg');
    overflow:#fff;
}
.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.navbar {
    margin-bottom:0;
}
h1,h2,h3,h4,h5,h6 {
    padding-top:0.3em;
    padding-bottom:0.3em;
}
.no-pad {
    padding-top:0;
    padding-bottom:0;
}
.btn-inline {
    display:inline;
    margin-right:0.3em;
    font-weight:bold;
}
.img-desc {
    margin-left:1em;
}
@media (max-width:576px) {
    .img-desc {
        margin-top:1em;
    }
}
.table-small td, .table-small th {
    padding-top:6px;
    padding-bottom:6px;
}
tbody:last-child {
    border-bottom:1px solid rgb(163, 163, 163);
}
@media (max-width:768px) {
    .vanish {
        display:none;
    }
    .appear {
        display:inline-block;
    }
}
@media (min-width:768px) {
    .vanish {
        display:inline-block;
    }
    .appear {
        display:none;
    }
}
/*section:before, .jumbotron:before {
    content:""!important;
    display:block!important;
    height:100px!important;
    margin-top:-100px!important;
}*/
