---
layout: base
title: DIRAC Institute
---

<body>

<!-- Disabled until we're ready to start sending people to GitHub

    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/LSST">Fork me on GitHub</a>
        </div>
    </div>

-->

<img class="img-nav" src="{{site.baseurl}}/img/logo_circle.png">
<nav class="navbar navbar-fixed-top navbar-full navbar-dark bg-inverse">
    <!-- <div class="navbar-brand"> -->
        <!-- <img class="img-nav" src="{{site.baseurl}}/img/logo_circle.png"> -->
    <!-- </div> -->
    <ul class="nav navbar-nav float-right">
        <li class="nav-item active">
            <a href="#about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a href="#events" class="nav-link">Events</a>
        </li>
        <li class="nav-item">
            <a href="#contribute" class="nav-link">Get Involved</a>
        </li>
        <li class="nav-item">
            <a href="#lsst" class="nav-link">LSST</a>
        </li>
        <li class="nav-item">
            <a href="#people" class="nav-link">People</a>
        </li>
    </ul>
</nav>

<div class="jumbotron">
    <div class="container-fluid">
        <div style="height:10em"></div>
        <h1>The University of Washington DIRAC Institute</h1>
        <span>Realizing opportunities for data-driven discovery in astronomy and astrophysics.</span>
    <!-- <p>An Institute at the <a href="https://www.washington.edu/">University of Washington</a>.</p> -->
    </div>
</div>

<section class="container-fluid" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>DIRAC: Data Intensive Research in Astrophysics and Cosmology</h2>
                <p>
                The DIRAC Institute: The Data Intensive Research in Astrophysics and Cosmology Institute is a world leading, interdisciplinary research center that addresses fundamental questions about the origins and evolution of our universe.
                </p>

                <p>
                Our research brings together scientists across many disciplines on a mission to understand the nature of Dark Matter and Dark Energy, the emergence of structure within the universe, the formation of galaxies, the birth and evolution of black holes, the transformations of stars, and the origins of the planets.    
                </p>

                <!-- <p>
                <a href="#lsst">The LSST</a> is a large optical survey project funded by the National Science
                Foundation and the Department of Energy. It will continually image the sky,
                identify changes in near real time, and over a decade of operations collect tens
                of petabytes of data building up the deepest, widest, image of the Universe.
                Its data will enable a range of science goals from identification of
                Near Earth Asteroids to understanding the nature of Dark Energy.
                </p>

                <p>
                From fundamental research on the most energetic events in the universe to the search for asteroids that may one day impact the Earth, the science of the next decade will be driven by data. Our ability to make scientific breakthroughs will be governed by our capacity to deal with the scale and complexity of the data from a new generation of telescopes and experiments that will explore the inner and outer reaches of our universe. DIRAC is creating an environment where scientists harness interdisciplinary expertise to solve some of the most difficult questions facing astronomy today; an interaction space between Astrophysics, Computer Science, Statistics, and other disciplines.</p>

                <p>
                The LSST DM team is distributed across a number of partner
                institutions &mdash; the <a href="https://project.lsst.org">LSST Project
                Office</a>, the <a href="http://www.ipac.caltech.edu">Infrared
                Processing and Analysis Center</a>, the <a
                href="http://ncsa.illinois.edu">National Center for Supercomputing
                Applications</a>, <a href="http://www.astro.princeton.edu">Princeton
                University</a>, <a href="http://slac.stanford.edu">SLAC National
                Accelerator Laboratory</a>,
                and the <a href="http://www.astro.washington.edu">University of
                Washington</a> &mdash; but also helped by contributors from the community,
                the LSST science collaborations, and other project subsystems.
                </p> -->
            </div>
        </div> <!--row-->
        <h4>Talks &amp; Presentations</h4>
        <div class="row">
            <div class="col-lg-6">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/cI9vSC1eQ18" frameborder="0" allowfullscreen></iframe>
                </div>
                <h6 class="center">TED Talk by Dr. Andy Connolly on the Large Synoptic Survey Telescope</h6>
            </div>
            <div class="col-lg-6">
                <div class="video">
                    <iframe src="//www.slideshare.net/slideshow/embed_code/key/fIUc2Bc32FTpPz" width="100%" height="auto" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                </div>
                    <!-- <h6 class="center">Slides: <a href="//www.slideshare.net/MarioJuric/lsstdm-building-a-next-generation-survey-data-processing-system" title="LSST/DM: Building a Next Generation Survey Data Processing System" target="_blank">LSST/DM: Building a Next Generation Survey Data Processing System</a> by <a target="_blank" href="https://www.slideshare.net/MarioJuric">Mario Juric</a></h6> -->
            </div>
        </div>

        <div class="row no-pad">
            <div class="col-12 no-pad">
                <h3 class="no-pad">Data &amp; Software</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>Science Pipelines</h4>
                <p>
                The <a href="http://ls.st/ug">LSST Science Pipelines</a> will implement the core image processing and data analysis algorithms needed to process optical survey imaging data at
                low latency and unprecedented scale and accuracy.  We are writing pipelines for
                single-epoch image processing, coaddition, image differencing,
                optimal multi-epoch measurements, and (global) photometric and
                astrometric calibration, among others.
                </p>
            </div>
            <div class="col-md-4">
                <h4>Scalable Database</h4>
                <p>
                To satisfy the need to efficiently store, query, and analyze catalogs
                running into trillions of row gs and petabytes of data, we are developing
                <a href="http://ls.st/kth">Qserv</a>, a distributed shared-nothing SQL database query system.
                </p>
            </div>
            <div class="col-md-4">
                <h4>User Interface</h4>
                <p>
                One of the most important jobs of a large survey is to provide access.
                This includes access to catalogs, processed images, and raw images.  Access in the next generation
                of surveys will extend to visualization and analysis.  We are writing interfaces
                that will allow thousands of users to query, download, visualize, and analyze petabytes of LSST data.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
            <h4>Data Access Middleware</h4>
            <p>
            In order to build a scalable, portable processing system, we are creating extensible
            middleware to transparently access data irrespective of storage location or format.
            </p>

            </div>
            <div class="col-md-6">
            <h4>Distributed Execution</h4>
            <p>
            The LSST data processing pipelines will need to efficiently scale from single core
            execution to tens of thousands of cores.  To meet this requirement we are building
            an orchestration framework to launch and monitor jobs on many different systems at
            many different scales.
            </p>
        </div>
        </div>

    </div><!-- /.container -->
</section>

<section class="container-fluid" id="events">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="no-pad">Upcoming Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>UW Astronomy</h5>
                <ul>
                    {% include events_uwastro.html %}
                </ul>
            </div>
            <div class="col-md-6">
                <h5>eScience Institute</h5>
                <ul>
                    {% include events_escience.html %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="center">
                <a class="btn btn-primary" role="button" href="https://depts.washington.edu/astron/events/">See all upcoming UW Astronomy Events &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- 
<section class="container-fluid" id="involved">
    <div class="container">

    <h2>Getting the Code</h2>

    <p>The LSST data processing codes are being developed in an iterative, agile, fashion. Though engineering
    first light is still six years away, prototype versions of
    a number of LSST codes are already being
    tested on simulations and being applied to existing data (e.g.,
    <a href="https://dev.lsstcorp.org/trac/wiki/DC/Winter2013">reprocessing SDSS Stripe 82</a>,
    or <a href="http://subarutelescope.org/Projects/HSC/HSCProject.html">processing HSC Survey data</a>).
    </p>

    <p>
    While already state-of-the-art in many areas, LSST software is
    still in its infancy when it comes to end-user friendliness,
    documentation, and API stability.  There is no binary distribution yet
    &mdash; builds must be done from source.  Knowledge of Python (and
    willingness to write some Python code) are necessary to work with the
    current code base.

    </p>

    <p>
    <button type="button" class="btn btn-inline btn-xs btn-outline-danger">Warning</button> <b>At this stage, the LSST software will be of greatest interest to the LSST Science Collaborations, large survey builders (or those reprocessing large survey data sets), and astronomical image processing enthusiasts.</b>

    If you're just looking to reduce a few observations
    with a ready-to-use tool, it may be better to look into one of the more
    polished and/or established packages such as <a
    href="http://www.astropy.org">AstroPy</a> or the <a
    href="http://www.astromatic.net/">AstrOmatic</a> suite.
    </p>

    <h4>Installing</h4>

    <p>There are several ways of installing the LSST Stack, including from <a href="https://pipelines.lsst.io/install/newinstall.html">source</a>, through <a href="https://pipelines.lsst.io/install/conda.html">Anaconda</a>, or as <a href="https://sqr-002.lsst.io">Docker containers</a>. Our <a href="https://pipelines.lsst.io/install/index.html">installation documentation</a> will get you started.</p>

    <p>Here's how to install the <a href="https://pipelines.lsst.io/releases/notes.html">latest (v12) release</a> from source, given <a href="https://pipelines.lsst.io/install/newinstall.html#prerequisites">pre-requisites</a>:</p>

    <pre class="code">
curl -OL https://raw.githubusercontent.com/lsst/lsst/12.0/scripts/newinstall.sh
bash newinstall.sh

source loadLSST.bash

eups distrib install -t v12_0 lsst_apps</pre>

    <p>Once you've installed the stack, see <a href="https://confluence.lsstcorp.org/display/LSWUG/Using+the+LSST+Stack">here</a> for examples of what you can do with it.</p>

    <h2>Cloning the sources</h2>
    <p>All LSST DM code is visible on <a href="https://github.com/lsst">GitHub</a>, spread across 100+ repositories.</p>

    <p>The <a href="https://pipelines.lsst.io/install/lsstsw.html">LSST software build tool</a> is helpful for cloning and (re)building from git. Feel free to join DM Developers on the <a href="https://community.lsst.org">LSST Community forum</a> and ask for help in the <a href="https://community.lsst.org/c/support">Support</a> category.</p>
    </div>
</section>
 -->

<section class="container-fluid" id="contribute">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Getting Involved</h2>
                <p>
                DIRAC is creating an environment where scientists can harness interdisciplinary expertise to solve some of the most difficult questions facing Astronomy today. It  provides an interaction space between Astrophysics, Computer Science, Statistics, and other disciplines. It is a place where ideas across many disciplines come together and mature; a laboratory for devising new ways of extracting knowledge from complex systems. 
                </p>
            <!-- </div>
        </div>
        <div class="row">
            <div class="col-md-6"> -->
                <h4>Postdoctoral and/or Research Scientist Positions</h4>
                <p>
                The DIRAC Institute and LSST group in the Astronomy department at the University of Washington have openings for two postdoctoral or research scientist positions. These positions are to help with the processing and analysis of data from the Zwicky Transit Factory (ZTF) and the Large Synoptic Survey Telescope (LSST). The University of Washington is a new member of the ZTF collaboration, a time-domain survey that will see first light in 2017 when it will scan over 3750 square degrees an hour to a depth of 20.5-21 mag. As part of its contributions to ZTF, UW and the DIRAC Institute (a newly established institute for data intensive survey astrophysics at the University of Washington) will lead the development of a database for storing and serving transient and variable sources detected by ZTF.        
                </p>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<section class="container-fluid" id="lsst">
    <div class="container">
        <div class="row">
            <h2>The LSST Survey and DIRAC</h2>
            <p>8.4 meter, wide-field, f/1.2 telescope.<br/>
            3.2 Gigapixel, 189 4k x 4k CCD camera, with 2-second readout.<br/>
            PetaFLOPS of computing power, hundreds of PB of storage, gigabit long-haul networks.</p>
        </div>
        <div class="row">
            <h4>Turning the sky into a database.</h4>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Petascale Era of Optical Astronomy</h4>
                <p>Beginning early in the next decade, the LSST will collect over 50 PB of raw data, resulting in over 30 trillion observations of 40 billion astronomical sources.
                It will measure the positions and properties of over 20 billion stars, or 10% of all stars in the Milky Way.</p>
                </div>
                <div class="col-md-4">
                <h4>Rapid Discovery</h4>
                <p>The LSST will scan the visible sky once every three days, charting objects that change or move: from exploding supernovae to potentially hazardous near-Earth asteroids.</p>
                </div>
                <div class="col-md-4">
                <h4>Open Data, Open Source</h4>
                <p>

                LSST data will be available with no proprietary period to
                all astronomers in the United States, Chile, and International Partners.
                Alerts about variable sources will be available world-wide within 60
                seconds.
                The LSST data processing stack will be open source (GPL v3).
                </p>
            </div>
        </div>
        <div class="row">
            <p class="center">
            <a class="btn btn-primary" href="https://www.lsst.org//overview" role="button">Learn more about the science of LSST &raquo;</a>
            </p>
        </div>
    </div>
</section> <!-- /.container -->

<section class="container-fluid" id="people">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <h2>People, Sponsors, and Contact Information</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Andy Connolly&nbsp;&nbsp;<small class="text-info">Director</small></h5>
            </div>
            <div class="col-md-3 col-sm-5">
                <img class="img-responsive img-thumbnail" src="{{site.baseurl}}/img/andy.jpg" alt="Andy Connolly">
            </div>
                <p class="img-desc">My work focuses on using large surveys to study cosmology and the evolution of galaxies. This ranges from studying the clustering of galaxies and their evolution with redshift, weak gravitational lensing of galaxies, and estimating the properties of galaxies based on their colors (aka photometric redshifts). The common theme to this work is addressing the need for massive data sets and how to work with them. One area that interests me a lot at the moment is the Large Synoptic Survey Telescope (LSST) where I lead the development of simulations of what LSST might observe. Beyond cosmology, I am also interested in how to make the technologies that companies use to search the internet useful in research and education.</p>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Mario Juri&cacute;&nbsp;&nbsp;<small class="text-info">Director</small></h5>
            </div>
            <div class="col-md-3 col-sm-5">
                <img class="img-responsive img-thumbnail" src="{{site.baseurl}}/img/mario.jpg" alt="Mario Juri&cacute;">
            </div>
                <p class="img-desc">I'm interested in astronomical 'Big Data': developing and applying methods and algorithms that let us use large data sets to answer research questions. Major astronomical surveys of today are routinely collecting hundreds of terabytes of images, creating databases with billions of objects and several billion measurements. Large surveys astronomers are becoming part data scientists. In my research, I go where the data takes me — I've worked on topics ranging from asteroids in the Solar System, Galactic structure, to the scale structure of the universe. My current focus is using survey data to understand the structure and evolution of the Milky Way.</p>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>&Zcaron;eljko Ivezi&cacute;&nbsp;&nbsp;<small class="text-info">Director</small></h5>
            </div>
            <div class="col-md-3 col-sm-5">
                <img class="img-responsive img-thumbnail" src="{{site.baseurl}}/img/zeljko.jpg" alt="&Zcaron;eljko Ivezi&cacute;">
            </div>
                <p class="img-desc">&Zcaron;eljko Ivezi&cacute; (pronounced something like Gel-co Eva-zich) obtained undergraduate degrees in mechanical engineering and physics from the University of Zagreb, Croatia, in 1990 and 1991. He obtained Ph.D. in physics from the University of Kentucky in 1995, where he worked on dust radiative transfer models and wrote the code Dusty. He moved on to Princeton University in 1997 to work on the Sloan Digital Sky Survey, and took a professorship at the University of Washington, Seattle, in 2004. &Zcaron;eljko's scientific interests are in detection, analysis and interpretation of electromagnetic radiation from astronomical sources. His current obsession is the Large Synoptic Survey Telescope project, for which he serves as the Project Scientist.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 center">
                <h4>Sponsors</h4>
                <img src="{{site.baseurl}}/img/logos/nsf4.gif" class="logo-agency" alt="NSF">
                <img src="{{site.baseurl}}/img/logos/doe.png" class="logo-agency" alt="DOE">
                <img src="{{site.baseurl}}/img/logos/lsst.png" class="logo" alt="LSST Headquarters">
                <img src="{{site.baseurl}}/img/logos/princeton.png" class="logo" alt="Princeton University">
                <img src="{{site.baseurl}}/img/logos/uw.png" class="logo" alt="University of Washington">
                <img src="{{site.baseurl}}/img/logos/ncsa.png" class="logo" alt="NCSA">
                <img src="{{site.baseurl}}/img/logos/ipac.png" class="logo" alt="IPAC">
                <img src="{{site.baseurl}}/img/logos/slac.png" class="logo" alt="SLAC National Accelerator Lab">
                <img src="{{site.baseurl}}/img/logos/noao.png" class="logo" alt="NOAO">
            </div>
    </div>
</section> <!-- /.container -->

</body>