<li><h6>Strange Nonchaotic Stars<br><small class="text-info">May 11 @ 4:00 PM<br>
				Physics/Astro Auditorium, 







							<br></small></h6><p><a class="btn btn-sm" role="button" href="https://depts.washington.edu/astron/event/strange-nonchaotic-stars/" alt="Strange Nonchaotic Stars">Find out more</a></p></li>
<li><h6>JWST is Coming to a Lagrangian Point Near You!<br><small class="text-info">May 18 @ 4:00 PM<br>
				Physics/Astro Auditorium, 







							<br></small></h6><p><a class="btn btn-sm" role="button" href="https://depts.washington.edu/astron/event/the-james-webb-space-telescope/" alt="JWST is Coming to a Lagrangian Point Near You!">Find out more</a></p></li>
</ul>
</div>
<div class="col-md-6">
<ul><li><h6>Stellar Tidal Disruption: what can we learn and what have we learned<br><small class="text-info">May 25 @ 4:00 PM<br>
				Physics/Astro Auditorium, 







							<br></small></h6><p><a class="btn btn-sm" role="button" href="https://depts.washington.edu/astron/event/stellar-tidal-disruption-what-can-we-learn-and-what-have-we-learned/" alt="Stellar Tidal Disruption: what can we learn and what have we learned">Find out more</a></p></li>
<li><h6>Origins of Structure in Planetary Systems<br><small class="text-info">June 1 @ 4:00 PM<br>
				Physics/Astro Auditorium, 







							<br></small></h6><p><a class="btn btn-sm" role="button" href="https://depts.washington.edu/astron/event/planet-origins/" alt="Origins of Structure in Planetary Systems">Find out more</a></p></li>
