<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="The DIRAC Institute: Data Intensive Research in Astrophysics and Cosmology"/>
        <meta name="keywords" content="DIRAC,Data,Intensive,Research,Science,Astronomy,Astrophysics,Cosmology,LSST,UW,University,Washington"/>
        <link rel="icon" href="{{ site.baseurl }}/img/dirac_logo_favicon.png">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/figuration/2.0.0/css/figuration.min.css" integrity="sha384-4NEYqGqlkFmjCXappSYTanA6sCbHfuAbTw0y9/n3iEx6JVK5TzYEVyQWroUSR3vo" crossorigin="anonymous">
        <link rel="stylesheet" href="{{site.baseurl}}/css/custom.css">
    </head>
    <body>

        {{ content }}

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/figuration/2.0.0/js/figuration.min.js" integrity="sha384-CYqCLcTJYBDbNhvb4Y5FSqooQB6ZZZUBboJ2YkdFnNrf5BLWOy1WsKdaiSpOAZf/" crossorigin="anonymous"></script>
    </body>
</html>